In [8]:
import sqlite3
import pandas as pd
from IPython.display import display, Markdown

# --- CONFIGURACIÓN ---
# Asegúrate de que esta ruta sea correcta para tu archivo de base de datos.
DB_PATH = 'data/database/parlamento.db' 
pd.set_option('display.max_rows', 100)

# --- 1. CONEXIÓN A LA BASE DE DATOS ---
conn = None # Inicializamos la variable de conexión
try:
    # Se establece la conexión a la base de datos SQLite
    conn = sqlite3.connect(DB_PATH)
    print(f"✅ Conexión a la base de datos '{DB_PATH}' exitosa.")

    # --- 2. OBTENER Y MOSTRAR LAS TABLAS ---
    
    # Creamos un cursor para ejecutar consultas SQL
    cursor = conn.cursor()
    
    # Consultamos la tabla maestra para obtener los nombres de todas las tablas de usuario
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tablas = cursor.fetchall() # Obtenemos todos los resultados

    print(f"\nSe encontraron {len(tablas)} tablas. Mostrando las 5 primeras filas de cada una:\n")

    # Iteramos sobre la lista de nombres de tablas encontradas
    for tabla in tablas:
        nombre_tabla = tabla[0] # El nombre de la tabla está en la primera posición de la tupla
        
        # Usamos display y Markdown para mostrar el nombre de la tabla como un título
        display(Markdown(f'### Tabla: `{nombre_tabla}`'))
        
        # Creamos la consulta SQL para seleccionar las 5 primeras filas
        query = f"SELECT * FROM {nombre_tabla} LIMIT 5"
        
        # Usamos pandas para ejecutar la consulta y leer el resultado en un DataFrame
        df = pd.read_sql_query(query, conn)
        
        # Mostramos el DataFrame
        display(df)
        print("\n" + "="*50 + "\n") # Añadimos un separador para mayor claridad

except sqlite3.Error as e:
    # Si ocurre algún error durante la conexión o consulta, se imprime el error
    print(f"❌ Error de base de datos: {e}")

finally:
    # --- 3. CERRAR LA CONEXIÓN ---
    if conn:
        conn.close()
        print("✅ Conexión a la base de datos cerrada.")

✅ Conexión a la base de datos 'data/database/parlamento.db' exitosa.

Se encontraron 28 tablas. Mostrando las 5 primeras filas de cada una:

### Tabla: `dim_profesiones`

   profesion_id             nombre_profesion
0             1                      Abogado
1             2                 Farmacéutico
2             3      Médico; Médico Cirujano
3             4          Abogado; Agricultor
4             5  Militar; General de Brigada

==================================================

### Tabla: `sqlite_sequence`

                name   seq
0    dim_profesiones   550
1  dim_parlamentario  3964
2       dim_partidos  2851
3     dim_comisiones  4621
4    dim_ministerios    29

==================================================

### Tabla: `dim_ubicaciones`

Empty DataFrame
Columns: [ubicacion_id, ciudad, region, pais]
Index: []

==================================================

### Tabla: `dim_partidos`

,partido_id,nombre_partido,nombre_alternativo,sigla,bcn_uri,fecha_fundacion,sitio_web,url_historia_politica,url_logo,ultima_actualizacion
0,1,Partido Unión Demócrata Independiente,None,UDI,None,None,None,None,None,None
1,2,Falange Nacional,None,None,None,None,None,None,None,None
2,3,Partido Demócrata Cristiano,None,DC,None,None,None,None,None,None
3,4,Partido Nacional Cristiano,None,None,None,None,None,None,None,None
4,5,Partido Liberal Democrático o Balmacedista,None,None,None,None,None,None,None,None

==================================================

### Tabla: `dim_parlamentario`

,mp_uid,nombre_completo,nombre_propio,apellido_paterno,apellido_materno,genero,fecha_nacimiento,lugar_nacimiento_id,diputadoid,senadorid,bcn_person_id,bcn_uri,url_foto,twitter_handle,sitio_web_personal,profesion_id,partido_militante_actual_id,url_historia_politica,fecha_extraccion
0,1,Carlos Bombal Otaegui,Carlos,Bombal,Otaegui,Masculino,None,None,415,None,2721,http://datos.bcn.cl/recurso/persona/2721,https://www.bcn.cl/laborparlamentaria/imagen/2...,None,None,1.0,None,https://www.bcn.cl/historiapolitica/resenas_pa...,2025-09-06
1,2,Ramón Arias,Ramón,Arias,None,Masculino,None,None,None,None,2483,http://datos.bcn.cl/recurso/persona/2483,https://www.bcn.cl/laborparlamentaria/imagen/2...,None,None,NaN,None,https://www.bcn.cl/historiapolitica/resenas_pa...,2025-09-06
2,3,José Plácido Musalem Saffie,José Plácido,Musalem,Saffie,Masculino,None,None,None,None,2315,http://datos.bcn.cl/recurso/persona/2315,https://www.bcn.cl/laborparlamentaria/imagen/2...,None,None,1.0,None,https://www.bcn.cl/historiapolitica/resenas_pa...,2025-09-06
3,4,Arístides Benavente Carvajal,Arístides,Benavente,Carvajal,Masculino,None,None,None,None,458,http://datos.bcn.cl/recurso/persona/458,https://www.bcn.cl/laborparlamentaria/imagen/4...,None,None,NaN,None,https://www.bcn.cl/historiapolitica/resenas_pa...,2025-09-06
4,5,Juan de Dios Peñafiel Varela,Juan de Dios,Peñafiel,Varela,Masculino,None,None,None,None,597,http://datos.bcn.cl/recurso/persona/597,https://www.bcn.cl/laborparlamentaria/imagen/5...,None,None,NaN,None,https://www.bcn.cl/historiapolitica/resenas_pa...,2025-09-06

==================================================

### Tabla: `parlamentario_aliases`

Empty DataFrame
Columns: [alias_id, mp_uid, alias]
Index: []

==================================================

### Tabla: `dim_periodo_legislativo`

   periodo_id nombre_periodo fecha_inicio fecha_termino
0           1      1990-1994   1990-03-11    1994-03-10
1           2      1994-1998   1994-03-11    1998-03-10
2           3      1998-2002   1998-03-11    2002-03-10
3           4      2002-2006   2002-03-11    2006-03-10
4           5      2006-2010   2006-03-11    2010-03-10

==================================================

### Tabla: `dim_coaliciones`

Empty DataFrame
Columns: [coalicion_id, nombre_coalicion]
Index: []

==================================================

### Tabla: `dim_comisiones`

   comision_id                                    nombre_comision        tipo
0          401   Constitución, Legislación, Justicia y Reglamento  Permanente
1          402   Obras Públicas, Transportes y Telecomunicaciones  Permanente
2          403  Futuro, Ciencias, Tecnología, Conocimiento e I...  Permanente
3          404          De Derechos Humanos y Pueblos Originarios  Permanente
4          405                Medio Ambiente y Recursos Naturales  Permanente

==================================================

### Tabla: `dim_legislatura`

   legislatura_id  numero fecha_inicio fecha_termino            tipo
0               3     319   1990-03-11    1990-05-20  Extraordinaria
1               4     320   1990-05-21    1990-09-17       Ordinaria
2               5     321   1990-09-18    1991-05-20  Extraordinaria
3               6     322   1991-05-21    1991-09-17       Ordinaria
4               7     323   1991-09-18    1992-05-20  Extraordinaria

==================================================

### Tabla: `dim_materias`

   materia_id                nombre
0         881    ABANDONO DEL HOGAR
1         882              ABOGADOS
2         883    ABORTO TERAPEUTICO
3         884  ABUSOS DE PUBLICIDAD
4         885     ACADEMIA JUDICIAL

==================================================

### Tabla: `dim_normas`

,norma_id,bcn_norma_id,bcn_historia_id,numero_norma,tipo_norma,titulo_norma,fecha_publicacion,organismo_promulgador,url_ley_chile
0,1,235507,None,20000,Ley,"SUSTITUYE LA LEY Nº 19.366, QUE SANCIONA EL TR...",2005-02-16,None,http://www.leychile.cl/Navegar?idNorma=235507

==================================================

### Tabla: `dim_ministerios`

,ministerio_id,camara_ministerio_id,nombre_ministerio
0,1,164,Ministerio del Medio Ambiente
1,2,68,Consejo Nacional de la Cultura y las Artes
2,3,1,"Ministerio de Economía, Fomento y Turism"
3,4,2,Ministerio de Hacienda
4,5,3,Ministerio de Educación

==================================================

### Tabla: `dim_zonas_electorales`

Empty DataFrame
Columns: [zona_id, nombre, tipo]
Index: []

==================================================

### Tabla: `parlamentario_mandatos`

,mandato_id,mp_uid,cargo,zona_electoral_id,partido_id_mandato,fecha_inicio,fecha_fin
0,1,1,Diputado,None,None,1990-03-11,1994-03-10
1,2,1,Diputado,None,None,1994-03-11,1998-03-10
2,3,1,Senador,None,None,1998-03-11,2006-03-10
3,4,2,Diputado,None,None,1831-01-01,1831-12-31
4,5,3,Senador,None,None,1973-01-01,1981-12-31

==================================================

### Tabla: `militancia_historial`

   militancia_id  mp_uid  partido_id fecha_inicio   fecha_fin
0              1       1           1   1990-03-11        None
1              2       3           2   1957-05-21  1961-05-20
2              3       3           3   1961-05-21        None
3              4       3           4   1953-05-21  1957-05-20
4              5       5           5   1888-06-01        None

==================================================

### Tabla: `comision_membresias`

   membresia_id  mp_uid  comision_id      rol fecha_inicio fecha_fin
0             1     563         3082  Miembro   2021-06-30      None
1             2     858         3082  Miembro   2021-07-21      None
2             3     280         3082  Miembro   2021-07-21      None
3             4     410         2401  Miembro   2019-09-26      None
4             5     570         2401  Miembro   2019-09-26      None

==================================================

### Tabla: `proyectos_ley`

,proyecto_id,titulo,resumen,tipo_proyecto,fecha_ingreso,etapa,subetapa,iniciativa,origen,urgencia,resultado_final,estado,refundidos,numero_ley,norma_id,fecha_actualizacion
0,17450-11,"Modifica el DFL N° 1, de Salud, de 2005, para ...",None,None,2024-12-16,Primer trámite constitucional (C.Diputados),Primer informe de comisión de Salud,Moción,C.Diputados,Sin urgencia,En tramitación,TRAMITACIÓN,,None,NaN,2025-09-07 21:01:13
1,2439-20,"Sustituye ley N° 19.366, que sanciona el tráfi...",None,None,1999-12-14,Tramitación terminada,/,Mensaje,C.Diputados,Sin urgencia,Publicado,PUBLICADO,,20000,1.0,2025-09-07 21:01:13

==================================================

### Tabla: `proyectos_autores`

  proyecto_id  mp_uid
0    17450-11    3477
1    17450-11    1139

==================================================

### Tabla: `proyectos_ministerios_patrocinantes`

Empty DataFrame
Columns: [proyecto_id, ministerio_id]
Index: []

==================================================

### Tabla: `proyectos_tramites`

,tramite_id,proyecto_id,fecha_tramite,descripcion,etapa_general,etapa_especifica,camara,sesion
0,155,17450-11,2024-12-16,Ingreso de proyecto .,None,Primer trámite constitucional,C.Diputados,/
1,156,17450-11,2025-04-08,Cuenta de proyecto . Pasa a Comisión de Salud,None,Primer trámite constitucional,C.Diputados,10/373
2,157,2439-20,1999-12-14,Ingreso de proyecto .,None,Primer trámite constitucional,C.Diputados,/
3,158,2439-20,1999-12-14,Cuenta de proyecto . Pasa a Comisión Especial ...,None,Primer trámite constitucional,C.Diputados,19/341
4,159,2439-20,1999-12-14,Oficio Nº 2.662 a Corte Suprema. Remite proyec...,None,Primer trámite constitucional,C.Diputados,/

==================================================

### Tabla: `proyectos_documentos`

,documento_id,proyecto_id,tramite_id,tipo_documento,url_documento,fecha_documento,descripcion
0,1,2439-20,None,Oficio,http://datos.bcn.cl/recurso/cl/documento/66135...,2005-01-04,Texto del documento: Oficio para el boletín 24...
1,2,2439-20,None,http://datos.bcn.cl/recurso/nulo,http://datos.bcn.cl/recurso/cl/documento/65520...,2001-10-09,Texto del documento: http://datos.bcn.cl/recur...
2,3,2439-20,None,Oficio,http://datos.bcn.cl/recurso/cl/documento/66134...,2004-10-05,Texto del documento: Oficio para el boletín 24...
3,4,2439-20,None,http://datos.bcn.cl/recurso/nulo,http://datos.bcn.cl/recurso/cl/documento/65346...,2003-12-03,Texto del documento: http://datos.bcn.cl/recur...
4,5,2439-20,None,InformeComisionLegislativa,http://datos.bcn.cl/recurso/cl/documento/66132...,2001-03-22,Texto del documento: InformeComisionLegislativ...

==================================================

### Tabla: `proyectos_materias`

  proyecto_id  materia_id
0     2439-20       25717

==================================================

### Tabla: `sesiones_votacion`

Empty DataFrame
Columns: [sesion_votacion_id, proyecto_id, camara, fecha, tema, resultado_general, quorum_aplicado, a_favor_total, en_contra_total, abstencion_total, pareo_total]
Index: []

==================================================

### Tabla: `votos_parlamentario`

Empty DataFrame
Columns: [voto_id, sesion_votacion_id, mp_uid, voto]
Index: []

==================================================

### Tabla: `entity_sources`

,source_id,entity_id,entity_type,source_name,url,last_checked_at
0,10,17450-11,bill,senado_boletin,https://tramitacion.senado.cl/wspublico/tramit...,2025-09-07 21:01:13
1,11,17450-11,bill,camara_boletin,https://opendata.camara.cl/camaradiputados/WSe...,2025-09-07 21:01:13
2,12,17450-11,bill,bcn_proyecto,https://datos.bcn.cl/recurso/cl/proyecto-de-le...,2025-09-07 21:01:13
3,13,2439-20,bill,senado_boletin,https://tramitacion.senado.cl/wspublico/tramit...,2025-09-07 21:01:13
4,14,2439-20,bill,camara_boletin,https://opendata.camara.cl/camaradiputados/WSe...,2025-09-07 21:01:13

==================================================

### Tabla: `intervenciones_discurso`

Empty DataFrame
Columns: [intervencion_id, mp_uid, sesion_votacion_id, comision_id, texto, fecha, tema, url_video, inicio_seg, fin_seg]
Index: []

==================================================

### Tabla: `interacciones`

Empty DataFrame
Columns: [interaccion_id, source_uid, target_uid, tipo, fecha, fuente, snippet]
Index: []

==================================================

✅ Conexión a la base de datos cerrada.